<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>10:30</td>  <td><a href="swc/HtCondor.html" target="_blank" rel="noopener noreferrer">HT Condor</a></td> </tr>
      <tr> <td>10:40</td>  <td><a href="./_includes/swc/HtCondor.html" target="_blank" rel="noopener noreferrer">HT Condor</a></td> </tr>
      <tr> <td>10:50</td>  <td><a href="./HtCondor.html">HT Condor</a></td> </tr>
      <tr> <td>11:00</td>  <td><a href="./swc/HtCondor.html">HT Condor</a></td> </tr>
      <tr> <td>11:10</td>  <td><a href="./_includes/swc/HtCondor.html">HT Condor</a></td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:00</td>  <td>Building Programs with Python (Continued)</td> </tr>
      <tr> <td>16:00</td>  <td><a href="./04-htcondor/index.html">HTCondor</a></td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
